{% extends 'core/base_form.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Estoque" "#" %}
    {% breadcrumb "Endereço" "/estoque/endereco/" %}
    
    {% if object %}
        {% breadcrumb form.codigo.value|add:' ' "/" %}
    {% else %}
        {% breadcrumb "Novo" "" %}
    {% endif %}

{% endblock %}

{% block breadcrumbrender %}
    {% render_breadcrumbs %}
{% endblock %}

{% block titleIntra %}
    <i class="icon-bookmark"></i>
    <h3>{% block title %}Endereços{% endblock %}</h3>
{% endblock %}

{% block redirectForm%}{% url 'estoque.list_endereco' %}{% endblock %}