{% extends "base_form.html"%}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap_toolkit %}

{% block title %}Saldos{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Estoque" "/estoque/" %}
    {% breadcrumb "Saldos" "/estoque/endereco/" %}
    {% breadcrumb form.quant.value "/" %}
{% endblock %}

{% block breadcrumbrender %}
    {% render_breadcrumbs %}
{% endblock %}

{% block formRender %}
    <div class="row">
        <div class="col-lg-6 ">
            <div class="response_form alert alert-dismissable"><span></span></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 top-buffer-10">
            <form class="form-horizontal" redirect_data="{% url 'estoque.list_saldo' %}" method="post" action="{{ request.get_full_path }}" id="formSaldo" onSubmit="return false;">
                {% csrf_token %}
                {{ form|as_bootstrap }}
                {% block button %}
                    {{ block.super }}
                {% endblock %}
            </form>
        </div>
    </div>
{% endblock %}
