{% extends 'core/base_form.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Estoque" "#" %}
    {% breadcrumb "Saldos" "/estoque/endereco/" %}
    {% breadcrumb form.quant.value "/" %}
{% endblock %}

{% block breadcrumbrender %}
    {% render_breadcrumbs %}
{% endblock %}

{% block titleIntra %}
    <i class="icon-bookmark"></i>
    <h3>{% block title %}Saldos{% endblock %}</h3>
{% endblock %}

{% block redirectForm%}{% url 'estoque.list_saldo' %}{% endblock %}
{% block jsExtra %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/jquery.ui.combobox.js' %}" ></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#id_endereco').combobox();
            $('#id_produto').combobox();
        });
    </script>
{% endblock %}