Django==1.7.1
Fabric==1.10.0
Jinja2==2.7.3
MarkupSafe==0.23
MySQL-python==1.2.5
Pillow==2.6.1
Pygments==2.0.1
Sphinx==1.2.3
django-bootstrap-breadcrumbs==0.7.0
django-bootstrap-toolkit==2.15.0
django-braces==1.4.0
django-datatables-view==1.12
django-debug-toolbar==1.2.2
django-extensions==1.4.8
django-localflavor-br==1.0
docutils==0.12
ecdsa==0.11
gnureadline==6.3.3
ipython==2.3.1
mock==1.0.1
model-mommy==1.2.2
paramiko==1.15.1
pycrypto==2.6.1
reportlab==3.1.8
six==1.7.3
sqlparse==0.1.14
wsgiref==0.1.2
