{% extends "layout.html"%}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Início" "/" %}
    {% breadcrumb "Configurações" "/core/configuracoes/" %}
{% endblock %}

{% block breadcrumbrender %}
    {% render_breadcrumbs %}
{% endblock %}

{% block contentDetail %}
    <div class="page-header">
        <h2>{% block title %}Configurações{% endblock %}</h2>
        <small>Configurações do sistema e cadastros parametrizáveis da aplicação.</small>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <ul class="no-padding">
                <li><a href="{% url 'acesso.list_usuario' %}">Usuários</a></li>
                <li><a href="{% url 'auth.list_group' %}">Grupos de Usuários</a></li>
                <li><a href="{% url 'auth.list_permission' %}">Permissões do Sistema</a></li>
                <li><a href="{% url 'core.list_parametros' %}">Parâmetros</a></li>
            </ul>
        </div>
        <div class="col-lg-10">
        </div>
    </div>
{% endblock %}