{% extends "viewport.html"%}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block title %}Onyxlog{% endblock %}
 
{% block content %}
    <div class="container-flow">
        <div class="row top-buffer-60">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                <h1>NÃO ENCONTREI ISSO :(</h1>
                <p class="text-center">Desculpe mas, não conseguimos encontrar o endereço que você tentou acessar. Por favor, verifique o endereço novamente e se estiver correto, entre em contato com o administrador do sistema. Obrigado!</p>
                <div class="top-buffer-60">
                    <a href="{{ request.META.HTTP_REFERER }}">Voltar para página anterior</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}