{% extends "layout.html"%}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Início" "/" %}
{% endblock %}

{% block breadcrumbrender %}
    {% render_breadcrumbs %}
{% endblock %}

{% block contentDetail %}
    <div class="page-header">
        <h2>{% block title %}Início{% endblock %}</h2>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="no-padding">
                <li class="bottom-buffer-20">
                    <a href="{% url 'cadastros_index' %}">Cadastros</a>
                    <ul>
                        <li><a href="{% url 'cadastros.list_produto' %}">Produtos</a></li>
                        <li><a href="{% url 'cadastros.list_grupoproduto' %}">Grupo de Produtos</a></li>
                        <li><a href="{% url 'cadastros.list_unidade' %}">Unidades de Medida</a></li>
                        <li><a href="#">Endereços</a></li>
                    </ul>
                </li>
                <li class="bottom-buffer-20">
                    <a href="{% url 'etiqueta_index' %}">Etiquetas</a>
                    <ul>
                        <li><a href="{% url 'etiqueta.etiqueta_produto' %}">Identificação de Produtos</a></li>
                        <li><a href="#">Endereçamento</a></li>
                    </ul>
                </li>
                {% if perms.core.core_configurations %}
                <li class="bottom-buffer-20">
                    <a href="{% url 'core.core_configurations' %}">Configurações</a>
                    <ul>
                        <li><a href="{% url 'acesso.list_usuario' %}">Usuários</a></li>
                        <li><a href="{% url 'auth.list_group' %}">Grupos de Usuários</a></li>
                        <li><a href="{% url 'auth.list_permission' %}">Permissões do Sistema</a></li>
                        <li><a href="{% url 'core.list_parametros' %}">Parâmetros</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}