{% extends "layout.html"%}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Início" "/" %}
{% endblock %}

{% block breadcrumbrender %}
    {% render_breadcrumbs %}
{% endblock %}

{% block contentDetail %}
    <div class="page-header">
        <h2>{% block title %}Início{% endblock %}</h2>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="no-padding">
                <li class="bottom-buffer-20">
                    <a href="{% url 'cadastros.cadastros_index' %}">Cadastros</a>
                    <ul>
                        {% include  'cadastros_itens_menu.html' %}
                    </ul>
                </li>
                <li class="bottom-buffer-20">
                    <a href="{% url 'estoque.estoque_index' %}">Estoque</a>
                    <ul>
                        {% include 'estoque_itens_menu.html' %}
                    </ul>
                </li>
                <li class="bottom-buffer-20">
                    <a href="{% url 'etiqueta.etiqueta_index' %}">Etiquetas</a>
                    <ul>
                        {% include 'etiqueta_itens_menu.html' %}
                    </ul>
                </li>
                <li class="bottom-buffer-20">
                    <a href="{% url 'portaria.portaria_index' %}">Portaria</a>
                    <ul>
                        {% include 'portaria/portaria_menu_itens.html' %}
                    </ul>
                </li>
                {% if perms.core.core_configurations %}
                <li class="bottom-buffer-20">
                    <a href="{% url 'core.core_configurations' %}">Configurações</a>
                    <ul>
                        <li><a href="{% url 'acesso.list_usuario' %}">Usuários</a></li>
                        <li><a href="{% url 'auth.list_group' %}">Grupos de Usuários</a></li>
                        <li><a href="{% url 'auth.list_permission' %}">Permissões do Sistema</a></li>
                        <li><a href="{% url 'core.list_parametros' %}">Parâmetros</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}