{% extends 'core/base_form.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Configurações" "#" %}
    {% breadcrumb "Parâmetros" "/core/parametros/" %}
    
    {% if object %}
        {% breadcrumb form.nome.value|add:' ' "/" %}
    {% else %}
        {% breadcrumb "Novo" "" %}
    {% endif %}

{% endblock %}

{% block breadcrumbrender %}
    {% render_breadcrumbs %}
{% endblock %}

{% block titleIntra %}
    <i class="icon-wrench"></i>
    <h3>{% block title %}Parâmetros{% endblock %}</h3>
{% endblock %}

{% block redirectForm%}{% url 'core.list_parametros' %}{% endblock %}