{% extends "layout.html"%}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Cadastros{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Início" "/" %}
    {% breadcrumb "Cadastros" "/cadastros/" %}
{% endblock %}

{% block breadcrumbrender %}
    {% render_breadcrumbs %}
{% endblock %}

{% block contentDetail %}
    <div class="page-header">
        <h2>Cadastros</h2>
        <small>Cadastros da aplicação.</small>
    </div>
    <div class="container-flow">
        <div class="row">
            <ul>
                <li><a href="{% url 'cadastros.list_unidade' %}">Unidades de Medida</a></li>
                <li><a href="{% url 'cadastros.list_grupoproduto' %}">Grupo de Produtos</a></li>
                <li><a href="{% url 'cadastros.list_produto' %}">Produtos</a></li>
            </ul>
        </div>
    </div>
{% endblock %}