{% extends "layout.html"%}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Início" "/" %}
    {% breadcrumb "Cadastros" "/cadastros/" %}
{% endblock %}

{% block breadcrumbrender %}
    {% render_breadcrumbs %}
{% endblock %}

{% block contentDetail %}
    <div class="page-header">
        <h2>{% block title %}Cadastros{% endblock %}</h2>
        <small>Cadastros da aplicação.</small>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <ul class="no-padding">
                {% include 'cadastros_itens_menu.html' %}
            </ul>
        </div>
        <div class="col-lg-10">
        </div>
    </div>
{% endblock %}