{% extends 'core/base_list.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Cadastros" "#" %}
    {% breadcrumb "Grupos de Produtos" "/cadastros/grupo-produto/" %}
{% endblock %}

{% block breadcrumbrender %}
    {% render_breadcrumbs %}
{% endblock %}

{% block titleIntra %}
    <i class="icon-list-alt"></i>
    <h3>{% block title %}Grupo de Produtos{% endblock %}</h3>
    <button id="btnAddList" class="btn btn-sm btn-success"><i class="no-margin-left icon-plus"></i> Novo</button>
{% endblock %}

{% block tableList %}
    <table cellpadding="0" cellspacing="0" border="0" class="table  table-striped table-hover datatable" id="gridlist" url-data-source="{% url 'cadastros.list_json_grupoproduto' %}">
        {% csrf_token %}
        <thead>
            <tr>
                <th width="90%">Nome</th>
                <th width="10%" class="no_sort"></th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot></tfoot>
    </table>
{% endblock %}