{% extends 'core/base_form.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Cadastros" "#" %}
    {% breadcrumb "Grupo de Produto" "/cadastros/grupo-produto/" %}
    
    {% if object %}
        {% breadcrumb form.nome.value|add:' ' "/" %}
    {% else %}
        {% breadcrumb "Novo" "" %}
    {% endif %}

{% endblock %}

{% block breadcrumbrender %}
    {% render_breadcrumbs %}
{% endblock %}

{% block titleIntra %}
    <i class="icon-list-alt"></i>
    <h3>{% block title %}Grupo de Produtos{% endblock %}</h3>
{% endblock %}

{% block redirectForm%}{% url 'cadastros.list_grupoproduto' %}{% endblock %}