{% extends 'core/base_form.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Cadastros" "#" %}
    {% breadcrumb "Produtos" "/cadastros/produto/" %}
    
    {% if object %}
        {% breadcrumb form.codigo.value|add:' ' "/" %}
    {% else %}
        {% breadcrumb "Novo" "" %}
    {% endif %}

{% endblock %}

{% block breadcrumbrender %}
    {% render_breadcrumbs %}
{% endblock %}

{% block titleIntra %}
    <i class="icon-shopping-cart"></i>
    <h3>{% block title %}Produtos{% endblock %}</h3>
{% endblock %}

{% block redirectForm%}{% url 'cadastros.list_produto' %}{% endblock %}