{% extends 'core/base_form.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Portaria" "#" %}
    {% breadcrumb "Movimento de Visitantes" "/portaria/movimento/visitante/" %}
    {% breadcrumb "Nova Entrada" "/portaria/movimento/visitante/formulario" %}
{% endblock %}

{% block breadcrumbrender %}
    {% render_breadcrumbs %}
{% endblock %}

{% block titleIntra %}
    <i class="icon-user"></i>
    <h3>{% block title %}Movimento de Visitantes{% endblock %}</h3>
{% endblock %}

{% block redirectForm%}{% url 'portaria.list_movimentovisitante' %}{% endblock %}
{% block jsExtra %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/jquery.ui.combobox.js' %}" ></script>
    <script type="text/javascript">
        form.fnRedirectAfterPost = function(result){
            alert('Entrada de visitante registrada, a etiqueta foi gerada.');
            $('#btnSend').hide();
            window.location.href = "/portaria/movimento/visitante/pdf/";
        }

        $(document).ready(function(){
            $('#id_cpf').bind('blur',function(){
                if($('#id_nome').val() == ''){
                    $.get(
                        '/portaria/movimento/visitante/api/'+ $('#id_cpf').val() +'/',
                        {},
                        function(response){
                            $('#id_nome').val(response.nome);
                            $('#id_empresa').val(response.empresa);
                            $('#id_liberado_por').val(response.liberado_por);
                        }
                    );
                }
            });
        });
    </script>
{% endblock %}
