{% extends 'core/base_form.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Portaria" "#" %}
    {% breadcrumb "Movimento de Visitantes" "/portaria/movimento/visitante/" %}
    {% breadcrumb "Saída de Visitantes" "/" %}
{% endblock %}

{% block breadcrumbrender %}
    {% render_breadcrumbs %}
{% endblock %}

{% block titleIntra %}
    <i class="icon-user"></i>
    <h3>{% block title %}Movimento de Visitantes{% endblock %}</h3>
{% endblock %}

{% block redirectForm%}{% url 'portaria.list_movimentovisitante' %}{% endblock %}
{% block buttonsForm %}
    {% if not object.saida %}
    <button id="btnSend" class="btn btn-primary"><i class="icon-signout"></i> Registrar Saída</button> 
    {% endif %}
    <button id="btnCancel" class="btn"><i class="icon-arrow-left"></i> Voltar</button>
{% endblock %}