{% extends 'core/base_list.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Portaria" "#" %}
    {% breadcrumb "Movimento de Visitantes" "/portaria/movimento/visitante/" %}
{% endblock %}

{% block breadcrumbrender %}
    {% render_breadcrumbs %}
{% endblock %}

{% block titleIntra %}
    <i class="icon-user"></i>
    <h3>{% block title %}Movimento de Visitantes{% endblock %}</h3>
    <button id="btnAddList" class="btn btn-sm btn-success"><i class="no-margin-left icon-plus"></i> Novo</button>
{% endblock %}

{% block tableList %}
    <table cellpadding="0" cellspacing="0" border="0" class="table  table-striped table-hover datatable" id="gridlist" url-data-source="{% url 'portaria.list_json_movimentovisitante' %}">
        {% csrf_token %}
        <thead>
            <tr>
                <th width="5%" >Planta</th>
                <th width="10%" >Entrada</th>
                <th width="5%"  >Hr</th>
                <th width="10%" >Saída</th>
                <th width="5%" class="no_sort">Hr</th>
                <th width="10%" >Código</th>
                <th width="10%" >CPF</th>
                <th width="10%" >Nome</th>
                <th width="15%" class="no_sort">Liberado por</th>
                <th width="10%" class="no_sort"></th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot></tfoot>
    </table>
{% endblock %}

{% block jsExtra %}
    <script type="text/javascript" src="{% static 'core/js/grid.js' %}" ></script>
    <script type="text/javascript">
        $(document).ready(function(){
            grid.fnStartObject({
                'urlData' : $('#gridlist').attr("url-data-source"),
                'urlDel'  : '{{ request.get_full_path }}'+'remove/',
                'tableObj': '#gridlist',
                'aaSorting': [[0,'asc'],[1,'desc'], [2,'desc']]
            });
        });
    </script>
    <script type="text/javascript"> $('#btnAddList').bind('click',function(){ window.location.href = 'formulario/' }); </script>
{% endblock %}