{% extends 'core/base_form.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap_toolkit %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Portaria" "#" %}
    {% breadcrumb "Movimento de Veículos" "/portaria/movimento/veiculo/" %}
    {% breadcrumb "Nova Entrada" "/portaria/movimento/visitante/formulario" %}
{% endblock %}

{% block breadcrumbrender %}
    {% render_breadcrumbs %}
{% endblock %}

{% block titleIntra %}
    <i class="icon-truck"></i>
    <h3>{% block title %}Movimento de Veículos{% endblock %}</h3>
{% endblock %}

{% block mainIntra %}
    <div class="div-form">
        {% block formBlock %}
        <form class="form-horizontal" redirect_data="{% url 'portaria.list_movimentoveiculo' %}" method="post" action="{{ request.get_full_path }}" onSubmit="return false;"> 
            {% csrf_token %}
            <div class="row">
                <div class="span6 ">
                    <div class="response_form alert alert-dismissable"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="span5">
                    {{ form|as_bootstrap }}
                </div>
                <div class="span6">
                    <fieldset>
                        <legend>Ocupantes do Veículo</legend>
                        <table class="table" id="table-ocupantes">
                            <thead>
                                <tr>
                                    <td width="20%">CPF</td>
                                    <td>Nome</td>
                                    <td width="30%">Empresa</td>
                                    <td width="10%"></td>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <button id="btn-add-ocupante" class="btn btn-sm btn-info"><i class="icon-plus"></i> Novo Ocupante</button>
                    </fieldset>
                </div>
            </div>
            
            <div class="form-actions">
            {% block buttonsForm %}
                <button id="btnSend" class="btn btn-primary"><i class="icon-ok"></i> Salvar</button> 
                <button id="btnCancel" class="btn"><i class="icon-arrow-left"></i> Voltar</button>
            {% endblock %}
            </div>
            <span class="ajaxLoading"><img src="{% static 'img/ajax-loader.gif' %}" /></span>

        </form>
        {% endblock %}
    </div>
{% endblock %}

{% block jsExtra %}
    {{ block.super }}
    <script type="text/javascript">var veiculo_id = 0, ocupates_veiculo = [];</script>
    <script type="text/javascript" src="{% static 'js/portaria.veiculo.form.js' %}" ></script>
    <script type="text/javascript">
        form.fnRedirectAfterPost = function(result){
            alert('Entrada do veículo registrada, as etiquetas foram geradas.');
            $('#btnSend').hide();
            window.location.href = "/portaria/movimento/visitante/pdf/";
        };

        $(document).ready(function(){
            $('#id_placa').bind('blur',function(){
                if($('#id_veiculo').val() == ''){
                    $.get(
                        '/portaria/movimento/veiculo/api/'+ $('#id_placa').val() +'/',
                        {},
                        function(response){
                            $('#id_veiculo').val(response.veiculo);
                            $('#id_cor').val(response.cor);
                        }
                    );
                }
            });
        });
    </script>
{% endblock %}