{% extends "base_form.html"%}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap_toolkit %}

{% block title %}Movimento de Visitantes{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Portaria" "/portaria/" %}
    {% breadcrumb "Movimento de Visitantes" "/portaria/movimento/visitante/" %}
    {% breadcrumb "Saída de Visitantes" "/" %}
{% endblock %}

{% block breadcrumbrender %}
    {% render_breadcrumbs %}
{% endblock %}


{% block formRender %}
    <div class="row">
        <div class="col-lg-6 ">
            <div class="response_form alert alert-dismissable"><span></span></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 top-buffer-10">
            <form class="form-horizontal" redirect_data="{% url 'portaria.list_movimentovisitante' %}" method="post" action="{{ request.get_full_path }}" id="formSaidaVisitante" onSubmit="return false;">
                {% csrf_token %}
                {{ form|as_bootstrap }}
                {% block button %}
                    <div class="control-group">
                        <div class="col-lg-5 no-padding">
                            {% if not object.saida %}
                            <button type="submit" class="btn btn-sm btn-primary" id="btnSend"><i class="glyphicon glyphicon-transfer"></i>  Registrar Saída</button>
                            {% endif %}
                            <button class="btn btn-sm btn-outline btn-default" id="btnCancel"><i class="glyphicon glyphicon-arrow-left"></i> Voltar</button>
                        </div>
                    </div>
                    <span class="ajaxLoading"><img src="{% static 'img/ajax-loader.gif' %}" /></span>
                {% endblock %}
            </form>
        </div>
    </div>
{% endblock %}