{% extends "layout.html"%}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Início" "/" %}
    {% breadcrumb "Portaria" "/portaria/" %}
{% endblock %}

{% block breadcrumbrender %}
    {% render_breadcrumbs %}
{% endblock %}

{% block contentDetail %}
    <div class="page-header">
        <h2>{% block title %}Portaria{% endblock %}</h2>
        <small>Entrada e Saída de visitantes e veículos.</small>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <ul class="no-padding">
                {% include 'portaria/portaria_menu_itens.html' %}
            </ul>
        </div>
        <div class="col-lg-10">
        </div>
    </div>
{% endblock %}