{% extends 'core/base_form.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Configurações" "#" %}
    {% breadcrumb "Grupos" "/acesso/grupos/" %}
    
    {% if object %}
        {% breadcrumb form.first_name.value|add:' ' "/" %}
    {% else %}
        {% breadcrumb "Novo" "" %}
    {% endif %}

{% endblock %}

{% block breadcrumbrender %}
    {% render_breadcrumbs %}
{% endblock %}

{% block titleIntra %}
    <i class="icon-group"></i>
    <h3>{% block title %}Grupos de Usuários{% endblock %}</h3>
{% endblock %}

{% block redirectForm%}{% url 'auth.list_group' %}{% endblock %}