{% extends "base_form.html"%}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap_toolkit %}

{% block title %}Identificação de Endereços{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Etiquetas" "/etiquetas/" %}
    {% breadcrumb "Identificação de Endereço" "/etiquetas/endereco/" %}
{% endblock %}

{% block breadcrumbrender %}
    {% render_breadcrumbs %}
{% endblock %}


{% block formRender %}
    <div class="row">
        <div class="col-lg-6 ">
            <div class="response_form alert alert-dismissable"><span></span></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 top-buffer-10">
            <form class="form-horizontal" redirect_data="{% url 'etiqueta.etiqueta_index' %}" method="post" action="{{ request.get_full_path }}" id="formEtiquetaEndereco" onSubmit="return false;">
                {% csrf_token %}
                {{ form|as_bootstrap }}
                {% block button %}
                    <div class="control-group">
                        <div class="col-lg-5 no-padding">
                            <button type="submit" class="btn btn-sm btn-primary" id="btnSend"><i class="glyphicon glyphicon-print"></i>  Gerar Etiquetas</button>
                            <button class="btn btn-sm btn-outline btn-default" id="btnCancel"><i class="glyphicon glyphicon-arrow-left"></i> Voltar</button>
                        </div>
                    </div>
                    <span class="ajaxLoading"><img src="{% static 'img/ajax-loader.gif' %}" /></span>
                {% endblock %}
            </form>
        </div>
    </div>
{% endblock %}

{% block jsblock %}
    {{block.super}}
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/jquery.ui.combobox.js' %}" ></script>
    <script type="text/javascript">
        $(document).ready(function(){
            form.fnRedirectAfterPost = function(result){
                window.location.href = "{% url 'etiqueta.etiqueta_endereco_pdf' %}";
            }

            $('#id_codigo_de, #id_codigo_ate').combobox();
        });
    </script>
{% endblock %}