{% extends 'core/base_form.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap_toolkit %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Etiquetas" "#" %}
    {% breadcrumb "Endereço" "/etiquetas/endereco/" %}
{% endblock %}

{% block breadcrumbrender %}
    {% render_breadcrumbs %}
{% endblock %}

{% block titleIntra %}
    <i class="icon-bookmark"></i>
    <h3>{% block title %}Etiqueta de Endereços{% endblock %}</h3>
{% endblock %}

{% block mainIntra %}
    <div class="div-form">
        {% block formBlock %}
        <form class="form-horizontal" redirect_data="{% url 'etiqueta.etiqueta_index' %}" method="post" action="{{ request.get_full_path }}" onSubmit="return false;"> 
            {% csrf_token %}
            <div class="row">
                <div class="span6 ">
                    <div class="response_form alert alert-dismissable"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    {{ form|as_bootstrap }}
                </div>
            </div>
            
            <div class="form-actions">
            {% block buttonsForm %}
                <button id="btnSend" class="btn btn-primary"><i class="icon-print"></i> Gerar Etiquetas</button> 
            {% endblock %}
            </div>
            <span class="ajaxLoading"><img src="{% static 'img/ajax-loader.gif' %}" /></span>

        </form>
        {% endblock %}
    </div>
{% endblock %}

{% block jsExtra %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/jquery.ui.combobox.js' %}" ></script>
    <script type="text/javascript">
        $(document).ready(function(){
            form.fnRedirectAfterPost = function(result){
                window.location.href = "{% url 'etiqueta.etiqueta_endereco_pdf' %}";
            }

            $('#id_codigo_de, #id_codigo_ate').combobox();
        });
    </script>
{% endblock %}